.feedback-form {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 272px;
  height: 40px;
  gap: 8px;
  opacity: 0px;
}
.input-class {
  border-radius: 4px;
  gap: 10px;
  width: 272px;
  height: 40px;
  opacity: 0px;
}
.message-class {
  width: 272px;
  height: 40px;
  top: 28px;
  left: 28px;
  gap: 10px;
  opacity: 0px;
}
.txt-class {
  border-radius: 4px;
  gap: 8px;
}
.btn {
  width: 75px;
  height: 40px;
  top: 268px;
  left: 28px;
  padding: 8px 16px 8px 16px;
  gap: 10px;
  border-radius: 8px 8px 8px 8px;
  opacity: 0px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(78, 117, 255, 1);
  border-color: rgba(78, 117, 255, 1);
}
:hover.btn {
  background-color: rgba(108, 140, 255, 1);
}
